.cards {
  display: flex;
  align-items: end;
}

.card {
  max-width: 18rem;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-title {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}
